    <div class="login-panel-head noselect">
        <img src="images/xabber-logo.png" class="client-logo">
        <span class="client-name">Xabber</span>
    </div>
    <div class="login-panel-form xmpp-login-form noselect">
        <div class="input-field">
            <input id="jid" type="text" name="jid">
            <label for="jid">XMPP ID</label>
            <span class="errors fixed one-line"></span>
        </div>
        <div class="input-field">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
            <span class="errors fixed one-line"></span>
        </div>
        <div class="input-field buttons-wrap">
            <button class="btn btn-flat btn-main-filled btn-log-in">Log In</button>
        </div>
        <div class="clearfix"></div>
    </div>
